<mjml>
    <mj-head>
        <mj-title>TUI</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial" />
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }

            .show_on_mobile table, .show_on_mobile-outlook table {
            mso-hide:all;
            }

            .button {
            margin: auto;
            }
    
            .rtl > table > tbody > tr > td {
            direction: rtl;
            }
    
            .ltr > table {
            direction: ltr;
            }
    
            .wrapper {
            text-decoration: none;
            }
            
            .karta-kolumna {max-width: 320px}
    
            .tui-image > table > tbody >  tr > td {max-width: 400px}
            .tui-image > table {max-width: 400px}
    
            .ios-gmail-fix > table {max-width: 320px; margin: auto;}
    
            .uslugi {
            max-width: 105px;
            width: 105px;
            }
        </mj-style>
        <mj-style>

          
            @media only screen and (max-width: 599px) {

                .table-hero[style] {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .table-hero {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .karta-kolumna > table > tbody > tr > td {
                border: 0!important;
                border-left: 0px!important;
                border-right: 0px!important;
                }

                .wrapper {
                max-width: 320px!important;
                }

                .stopka-wrapper {
                max-width: 320px!important;
                }

                .show_on_desktop {
                display:none !important;
                }

                .show_on_mobile, .show_on_mobile-outlook {
                display:block!important;
                }

                .uslugi {
                max-width: 105px!important;
                width: 105px!important;
                }

                .mobile-button table {
                    min-width: 100%;
                }
    
                .ios-gmail-fix > table, .ios-gmail-fix > table > tbody > tr > td > table  {
                min-width: 100%;
                }
            }

            @media only screen and (min-width: 600px) {

                .wrapper {
                max-width: 600px!important;
                }

                .stopka-wrapper {
                max-width: 600px!important;
                }

                .hero {
                padding: 0!important;
                width: 100%;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000" align="center">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <a href="[[view]]" style="font-family: Arial; font-size: 11px; color: #8c8c8c; text-decoration: underline;">linku</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">

            <!--header-->

            <mj-section padding="20px 0px" background-color="#dbf2fc">
                    <mj-column width="30%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="100px" src="logo.png" padding="0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
                    <mj-column width="30%"></mj-column>
                    <mj-column css-class="show_on_desktop" width="40%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="195px" src="claim.png" padding="0px 0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
            </mj-section>

            <!--header koniec-->

            <!--menu desktop-->

            <mj-section css-class="show_on_desktop" background-color="#70cbf4" padding="10px 0px">
                <mj-column>
                    <mj-navbar hamburger="false">
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Lato</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Last Minute</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">All Inclusive</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Bilety Czarterowe</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>

            <!--menu desktop koniec-->

            <!--Sekcja KV obrazkiem z odzielnym CTA -->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column padding="0px">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_kv.png"></mj-image>
                    <mj-text font-size="21px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="20px 20px 0px">
                        Rajska wyspa na&nbsp;Oceanie Indyjskim i&nbsp;hotele idealne na&nbsp;bajeczne wakacje
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="280px" padding="20px 0px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zarezerwuj teraz&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!-- KV koniec-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="20px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA -->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column css-class="karta-kolumna" padding="0px" border-right="7px solid #ffffff">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_produkt_1.png"></mj-image>
                    <mj-image href="https://www.tui.pl/" width="100px" src="tui_stars.png" padding="25px 15px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 15px 0px">
                        Riu Creole
                    </mj-text>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 15px 0px " align="left">
                        ★&nbsp;&nbsp;<span style="color: #092a5e">certyfikat jakości w portalu TripAdvisor</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">bezpośrednio przy piaszczystej plaży</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">nowo otwarty hotel</span><br>
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 15px 0px" align="left">
                        od <span style="font-size: 18px">1899</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="25px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column css-class="karta-kolumna" padding="0px" border-left="7px solid #ffffff">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_produkt_2.png"></mj-image>
                    <mj-image href="https://www.tui.pl/" width="100px" src="tui_stars.png" padding="25px 15px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 15px 0px">
                        Riu Le Morne
                    </mj-text>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 15px 0px " align="left">
                        ★&nbsp;&nbsp;<span style="color: #092a5e">certyfikat jakości w portalu TripAdvisor</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">hotel tylko dla dorosłych (18+)</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">półwysep wpisany na listę UNESCO</span><br>
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 15px 0px" align="left">
                        od <span style="font-size: 18px">1899</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="25px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA - koniec -->

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA -->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column css-class="karta-kolumna" padding="0px" border-right="7px solid #ffffff">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_produkt_3.png"></mj-image>
                    <mj-image href="https://www.tui.pl/" width="100px" src="tui_stars.png" padding="25px 15px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 15px 0px">
                        Be Cosy Apart Hotel <br>
                        &nbsp;
                    </mj-text>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 15px 0px " align="left">
                        ★&nbsp;&nbsp;<span style="color: #092a5e">certyfikat jakości w portalu TripAdvisor</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">komfortowe apartamenty z aneksem
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;kuchennym</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">darmowe Wi-Fi</span><br>
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 15px 0px" align="left">
                        od <span style="font-size: 18px">1899</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="25px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column css-class="karta-kolumna" padding="0px" border-left="7px solid #ffffff">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_produkt_4.png"></mj-image>
                    <mj-image href="https://www.tui.pl/" width="100px" src="tui_stars.png" padding="25px 15px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 15px 0px">
                        Beachcomber Hotel <br>Le Canonnier
                    </mj-text>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 15px 0px " align="left">
                        ★&nbsp;&nbsp;<span style="color: #092a5e">certyfikat jakości w portalu TripAdvisor</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">zadbany ogród tropikalny</span><br>
                        ★&nbsp;&nbsp;<span style="color: #092a5e">bogata oferta sportowa</span><br>
                        &nbsp;
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 15px 0px" align="left">
                        od <span style="font-size: 18px">1899</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="25px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA  - koniec -->

            <!--srednie temperatury sekcja-->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column width="33%" padding="0px 10px">
                    <mj-text font-size="21px" line-height="25px" font-weight="400" color="#092a5e" text-transform="uppercase" padding="20px 0px 0px" align="center">
                        Średnie temperatury
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="20px 0px 0px" align="center">
                        Mauritius – tutaj <br> sezon trwa <br>przez cały rok
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px 20px" padding="20px 0px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column width="66%" padding="0px 0px 0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_promka.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--srednie temperatury - koniec-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="20px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--obsługa wyjazdu-->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column padding="0px">
                    <mj-text font-size="21px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="20px 20px 20px">
                        Kompleksowa obsługa wyjazdu - odkryj naszą ofertę usług dodatkowych
                    </mj-text>
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--obsługa wyjazdu - koniec-->

            <!-- mobilne menu-->

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="15px 20px 5px" align="center">
                        Lato
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        Last Minute
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        All Inclusive
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px 15px" align="center">
                        Bilety Czarterowe
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--mobilne menu koniec-->

            <!--stopka CTA + sociale-->

            <mj-section background-color="#092a5e" padding="10px 0px">
                <mj-column css-class="ios-gmail-fix" width="42%" padding="10px 20px" align="center">
                    <mj-button href="https://www.tui.pl/" background-color="#092a5e" font-size="18px" line-height="25px" font-weight="400" color="#ffffff" border="2px solid #ffffff" border-radius="0px" width="99%" inner-padding="5px 20px" padding="0px" align="center">
                        Zadzwoń do nas&nbsp;&nbsp;<span><img src="tui_phone_icon.png" width="13px" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column width="18%"></mj-column>
                <mj-column css-class="ios-gmail-fix" width="40%" vertical-align="top" padding="10px 15px 5px">
                    <mj-social align="center" font-size="16px" icon-size="30px" mode="horizontal" padding="0px" inner-padding="10px">
                        <mj-social-element src="tui_fb.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_in.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_you.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_blog.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>

            <!--stopka CTA + sociale koniec-->

        </mj-wrapper>

       <mj-wrapper css-class="stopka-wrapper" padding="0px">
           <mj-section padding="48px 0px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px 20px" align="center">
                       Prezentowane ogłoszenia, reklamy, cenniki i&nbsp;informacje nie&nbsp;stanowią oferty w&nbsp;rozumieniu przepisów Kodeksu cywilnego. Ich dostępność oraz&nbsp;warunki mogą ulec zmianie. Ceny TUI zawierają wszystkie obowiązkowe opłaty np.&nbsp;ubezpieczenie lub opłaty lotniskowe. Nadawcami tej&nbsp;wiadomości są TUI Poland Sp. z&nbsp;o.o. oraz&nbsp;TUI Poland Dystrybucja Sp. z&nbsp;o.o. Jeśli chcesz zrezygnować z&nbsp;otrzymywania jakichkolwiek wiadomości, <a href="[[remove]]" style="color:#aaaaaa;">wypisz się</a>
                   </mj-text>
               </mj-column>
           </mj-section>
           <mj-section padding="20px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px" align="center">
                   </mj-text>
                   <mj-spacer></mj-spacer>
               </mj-column>
           </mj-section>
       </mj-wrapper>
    </mj-body>
</mjml>

