<mjml>
    <mj-head>
        <mj-title>TUI</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial" />
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }

            .show_on_mobile table, .show_on_mobile-outlook table {
            mso-hide:all;
            }

            .button {
            margin: auto;
            }
    
            .tui-image > table > tbody >  tr > td {max-width: 320px}
            .tui-image > table {max-width: 320px}
    
            .ios-gmail-fix > table {max-width: 320px; margin: auto;}
    
            .uslugi {
            max-width: 105px;
            width: 105px;
            }
            
            .table-hero td {
            padding: 10px 0px;
            background-color: #092a5e;
            font-family: Arial;
            font-weight: 400;
            line-height: 1.4;
            text-align: center;
            color: #ffffff;
            height: 20px;
            }
    
            .karta-kontener > table > tbody > tr > td {
            padding-left: 20px!important;
            padding-right: 20px!important;
            }
    
            .table-hero[style] {
            margin: auto;
            }
    
            .karta-kontener > table > tbody > tr > td > table {
            margin: auto;
            }
    
            .rtl > table > tbody > tr > td {
            direction: rtl;
            }
    
            .ltr > table {
            direction: ltr;
            }

        </mj-style>
        <mj-style>
            
            @media only screen and (max-width: 599px) {

                .table-hero[style] {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .table-hero {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .karta-kolumna > table > tbody > tr > td {
                border: 0!important;
                border-left: 0px!important;
                border-right: 0px!important;
                }

                .karta-kontener { max-width: 320px!important}

                .wrapper {
                max-width: 320px!important;
                }

                .stopka-wrapper {
                max-width: 320px!important;
                }

                .show_on_desktop {
                display:none !important;
                }

                .show_on_mobile, .show_on_mobile-outlook {
                display:block!important;
                }

                .uslugi {
                max-width: 105px!important;
                width: 105px!important;
                }

                .mobile-button table {
                    min-width: 100%;
                }

                .ios-gmail-fix > table {
                    min-width: 100%;
                }
            }

            @media only screen and (min-width: 600px) {

                .wrapper {
                max-width: 600px!important;
                }

                .stopka-wrapper {
                max-width: 600px!important;
                }

                .hero {
                padding: 0!important;
                width: 100%;
                }
            }
        </mj-style>
    </mj-head>
    <mj-raw>
        <i>
            <var hotel_1="GetRows('ES_Bestsellers',  null, null, new [] {new Filter('klucz_', EQ, 'hotel_1')})"/>
            <var hotel_2="GetRows('ES_Bestsellers ', null, null, new [] {new Filter('klucz_', EQ, 'hotel_2')})"/>
            <var hotel_3="GetRows('ES_Bestsellers ', null, null, new [] {new Filter('klucz_', EQ, 'hotel_3')})"/>
            <var hotel_4="GetRows('ES_Bestsellers',  null, null, new [] {new Filter('klucz_', EQ, 'hotel_4')})"/>
        </i>
    
        <i>
            <var dest_1="GetRows('ES_Bestsellers',  null, null, new [] {new Filter('klucz_', EQ, 'dest_1')})"/>
            <var dest_2="GetRows('ES_Bestsellers ', null, null, new [] {new Filter('klucz_', EQ, 'dest_2')})"/>
            <var dest_3="GetRows('ES_Bestsellers ', null, null, new [] {new Filter('klucz_', EQ, 'dest_3')})"/>
            <var dest_4="GetRows('ES_Bestsellers',  null, null, new [] {new Filter('klucz_', EQ, 'dest_4')})"/>
        </i>
    </mj-raw>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000" align="center">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <a href="[[view]]" style="font-family: Arial; font-size: 11px; color: #8c8c8c; text-decoration: underline;">linku</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">

            <!--header-->

            <mj-section padding="10px 0" background-color="#dbf2fc">
                    <mj-column width="30%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl?utm_medium=email&utm_source=baza-online&utm_campaign=" width="100px" src="*[hosted_image]*/*[message_id]*/logo.png" padding="10px 0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
                    <mj-column width="30%"></mj-column>
                    <mj-column css-class="show_on_desktop" width="40%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl?utm_medium=email&utm_source=baza-online&utm_campaign=" width="195px" src="*[hosted_image]*/*[message_id]*/claim.png" padding="10px 0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
            </mj-section>

            <!--header koniec-->

            <!--menu desktop-->

            <mj-section css-class="show_on_desktop" background-color="#70cbf4" padding="10px 0px">
                <mj-column>
                    <mj-navbar hamburger="false">
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/first-minute-lato?utm_medium=email&utm_source=baza-online&utm_campaign=" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Lato</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/last-minute?utm_medium=email&utm_source=baza-online&utm_campaign=" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Last Minute</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/all-inclusive?utm_medium=email&utm_source=baza-online&utm_campaign=" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">All Inclusive</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/tanie-bilety-lotnicze?utm_medium=email&utm_source=baza-online&utm_campaign=" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Bilety Czarterowe</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>

            <!--menu desktop koniec-->

            <!--Sekcja KV z obrazkiem w tle v2-->

            <mj-hero css-class="hero" mode="fluid-height" height="420px" background-width="600px" background-height="420px" background-url="*[hosted_image]*/*[message_id]*/tui_bg.png" background-color="#6fc7f3" padding="155px 0px 18px" vertical-align="bottom">
                <mj-text padding="5px 0px" color="#092a5e" font-family="Arial" align="center" font-size="23px" line-height="1.2" font-weight="400">
                    <a href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/promocja-hotele-rixos?utm_medium=email&utm_source=baza-online&utm_campaign=" style="text-decoration: none"><img style="width: 140px" src="*[hosted_image]*/*[message_id]*/tui_kv_logo.png" alt=""><br></a>
                    <a href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/promocja-hotele-rixos?utm_medium=email&utm_source=baza-online&utm_campaign=" style="text-decoration: none; color: #092a5e">
                        <b>Wielkie greckie wakacje</b> <br>
                        w krainie barw, smaków <br>
                        i luksusu
                    </a>
                </mj-text>
                <mj-table css-class="table-hero" padding="0px 100px">
                    <tr>
                        <td>
                            <a href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/promocja-hotele-rixos?utm_medium=email&utm_source=baza-online&utm_campaign=" style="text-decoration: none; color: #092a5e">
                                <span style="font-size: 20px; line-height: 1.4; color: #ffffff; font-weight: 700;">
                                   od 1 591 zł/os.
                                </span>
                            </a>
                        </td>
                    </tr>
                </mj-table>
                <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/promocja-hotele-rixos?utm_medium=email&utm_source=baza-online&utm_campaign=" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" width="280px" inner-padding="10px 25px" padding="15px 0px">
                    &nbsp;&nbsp;&nbsp;&nbsp;Szukaj wakacji&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                </mj-button>
            </mj-hero>

            <!--koniec sekcji z obrazkiem w tle v2-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--Belka tytuł -->

            <mj-section background-color="#dbf2fc" padding="10px 0px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="5px">
                        POLECANE OFERTY HOTELI <br>
                        SIECI RIXOS
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--Belka tytuł destynacje koniec-->

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA -->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column width="50%" padding="0px">
                    <mj-image css-class="tui-image" href="${hotel_1[0]['link']}" fluid-on-mobile="true" padding="0px" src="${hotel_1[0]['imageUrl']}"></mj-image>
                </mj-column>
                <mj-column width="50%" css-class="ios-gmail-fix" background-color="#ffffff" padding="0px" border="10px solid #dbf2fc">
                    <mj-image href="${hotel_1[0]['link']}" width="100px" src="*[hosted_image]*/*[message_id]*/tui_gwiazdki_${hotel_1[0]['stars']}.png" padding="20px 5px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="10px 5px 0px">
                        ${hotel_1[0]['title']}
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="10px 0px 0px 5px" align="left">
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona1.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_1[0]['kraj']}, ${hotel_1[0]['region']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona2.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_1[0]['DataWyjazdu']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona3.png" width="13px" alt></span>&nbsp;&nbsp;Wylot: ${hotel_1[0]['departure']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona4.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_1[0]['Wyzywienie']}<br>
                    </mj-text>

                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px" align="left">
                        od <span style="font-size: 18px">${hotel_1[0]['PriceString']}</span>
                    </mj-text>
                    <mj-button href="${hotel_1[0]['link']}" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="20px 0px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA - koniec -->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA -->

            <mj-section direction="rtl" background-color="#dbf2fc" padding="0px">
                <mj-column direction="ltr" padding="0px">
                    <mj-image css-class="tui-image" href="${hotel_2[0]['link']}" fluid-on-mobile="true" padding="0px" src="${hotel_2[0]['imageUrl']}"></mj-image>
                </mj-column>
                <mj-column css-class="ios-gmail-fix" direction="ltr" background-color="#ffffff" padding="0px" border="10px solid #dbf2fc">
                    <mj-image href="${hotel_2[0]['link']}" width="100px" src="*[hosted_image]*/*[message_id]*/tui_gwiazdki_${hotel_2[0]['stars']}.png" padding="20px 5px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="10px 5px 0px">
                        ${hotel_2[0]['title']}
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="10px 0px 0px 5px" align="left">
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona1.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_2[0]['kraj']}, ${hotel_2[0]['region']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona2.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_2[0]['DataWyjazdu']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona3.png" width="13px" alt></span>&nbsp;&nbsp;Wylot: ${hotel_2[0]['departure']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona4.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_2[0]['Wyzywienie']}<br>
                    </mj-text>

                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px" align="left">
                        od <span style="font-size: 18px">${hotel_2[0]['PriceString']}</span>
                    </mj-text>
                    <mj-button href="${hotel_2[0]['link']}" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="20px 0px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA  - koniec -->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA -->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="${hotel_3[0]['link']}" fluid-on-mobile="true" padding="0px" src="${hotel_3[0]['imageUrl']}"></mj-image>
                </mj-column>
                <mj-column css-class="ios-gmail-fix" background-color="#ffffff" padding="0px" border="10px solid #dbf2fc">
                    <mj-image href="${hotel_3[0]['link']}" width="100px" src="*[hosted_image]*/*[message_id]*/tui_gwiazdki_${hotel_3[0]['stars']}.png" padding="20px 5px 0px" align="left"></mj-image>
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="10px 5px 0px">
                        ${hotel_3[0]['title']}
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="10px 0px 0px 5px" align="left">
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona1.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_3[0]['kraj']}, ${hotel_3[0]['region']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona2.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_3[0]['DataWyjazdu']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona3.png" width="13px" alt></span>&nbsp;&nbsp;Wylot: ${hotel_3[0]['departure']}<br>
                        <span><img src="*[hosted_image]*/*[message_id]*/tui_icona4.png" width="13px" alt></span>&nbsp;&nbsp;${hotel_3[0]['Wyzywienie']}<br>
                    </mj-text>

                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px" align="left">
                        od <span style="font-size: 18px">${hotel_3[0]['PriceString']}</span>
                    </mj-text>
                    <mj-button href="${hotel_3[0]['link']}" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="20px 0px 20px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA  - koniec-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--hotel zdjecie i opis - nazwa/opis/cena/CTA  kolumny-->
    
            <!--Belka tytuł destynacje -->
    
            <mj-section background-color="#dbf2fc" padding="10px 0px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0px 20px">
                        Podróżowanie masz we krwi
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 20px" align="center">
                        Razem odkryjemy miejsca, które na długo zapadną Ci w pamięci
                    </mj-text>
                </mj-column>
            </mj-section>
    
            <!--Belka tytuł destynacje koniec-->
    
           
            <!--Destynacja pionowo o zdjęcie - nazwa/opis/cena/CTA -->
    
            <mj-section background-color="#ffffff" padding="0px">
                <mj-column width="49%" css-class="karta-kolumna ios-gmail-fix" padding="0px 0px 15px">
                    <mj-image href="${dest_1[0]['link']}" padding="0px" fluid-on-mobile="true" src="${dest_1[0]['imageUrl']}"></mj-image>
                    <mj-wrapper css-class="karta-kontener ios-gmail-fix" padding="0px" border="10px solid #dbf2fc" align="center">
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 5px 0px">
                            ${dest_1[0]['kraj']}
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 0px 0px 5px;" align="left">
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_1[0]['opis_1']}</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_1[0]['opis_2']}</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_1[0]['opis_3']}</span><br>
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px;" align="left">
                            od <span style="font-size: 18px">${dest_1[0]['PriceString']}</span>
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-button href="${dest_1[0]['link']}" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="10px 20px 15px">
                            &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                        </mj-button>
                        <mj-spacer height="20px"></mj-spacer>
                    </mj-wrapper>
                </mj-column>
                <mj-column width="2%"></mj-column>
                <mj-column width="49%" css-class="karta-kolumna ios-gmail-fix" padding="0px 0px 15px">
                    <mj-image href="${dest_2[0]['link']}" padding="0px" fluid-on-mobile="true" src="${dest_2[0]['imageUrl']}"></mj-image>
                    <mj-wrapper css-class="karta-kontener ios-gmail-fix" padding="0px" border="10px solid #dbf2fc" align="center">
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 5px 0px">
                            ${dest_2[0]['title']}
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 0px 0px 5px;" align="left">
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_2[0]['opis_1']}</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_2[0]['opis_2']}</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">${dest_2[0]['opis_3']}</span><br>
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px;" align="left">
                            od <span style="font-size: 18px">${dest_2[0]['PriceString']}</span>
                        </mj-text>
                        <mj-spacer height="20px"></mj-spacer>
                        <mj-button href="${dest_2[0]['link']}" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="10px 20px 15px">
                            &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="*[hosted_image]*/*[message_id]*/tui_arrow.png" alt=""></span>
                        </mj-button>
                        <mj-spacer height="20px"></mj-spacer>
                    </mj-wrapper>
                </mj-column>
            </mj-section>
    
            <!--Destynacja pionowo o zdjęcie - nazwa/opis/cena/CTA  - koniec-->

         
            
            

            <!--baner promocyjny-->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column padding="0px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/promocja-hotele-rixos?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="true" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_baner.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--baner promocyjny - koniec-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--Belka tytuł-->

            <mj-section background-color="#dbf2fc" padding="10px 0px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="5px">
                        Kompleksowa oferta usług <br> dodatkowych
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--uslugi ikony z opisem-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/ubezpieczenie-allianz?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="false" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_duza_ikona1.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Ubezpieczenia
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/podroz-z-tui/rezerwacja-miejsca-w-samolocie?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="false" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_duza_ikona2.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Miejsca <br>w samolocie
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tuicars.com/pl/?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="false" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_duza_ikona3.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Wynajem
                        samochodów
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://tui.lotnisko-parkingi.pl?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="false" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_duza_ikona4.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Parkingi
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.gotui.com/pl/?utm_medium=email&utm_source=baza-online&utm_campaign=" fluid-on-mobile="false" padding="0px" src="*[hosted_image]*/*[message_id]*/tui_duza_ikona5.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Wycieczki <br>
                        fakultatywne
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--uslugi ikony z opisem - koniec-->

            <!-- mobilne menu-->

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/first-minute-lato?utm_medium=email&utm_source=baza-online&utm_campaign=" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="15px 20px 5px" align="center">
                        Lato
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/last-minute?utm_medium=email&utm_source=baza-online&utm_campaign=" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        Last Minute
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/all-inclusive?utm_medium=email&utm_source=baza-online&utm_campaign=" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        All Inclusive
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/tanie-bilety-lotnicze?utm_medium=email&utm_source=baza-online&utm_campaign=" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px 15px" align="center">
                        Bilety Czarterowe
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--mobilne menu koniec-->

            <!--stopka CTA + sociale-->

            <mj-section background-color="#092a5e" padding="10px 0px">
                <mj-column css-class="ios-gmail-fix" width="42%" padding="10px 20px" align="center">
                    <mj-button href="tel:*[subskrybent_cecha_telefon_biuro]" background-color="#092a5e" font-size="18px" line-height="25px" font-weight="400" color="#ffffff" border="2px solid #ffffff" border-radius="0px" width="99%" inner-padding="5px 20px" padding="0px" align="center">
                        Zadzwoń do nas&nbsp;&nbsp;<span><img src="*[hosted_image]*/*[message_id]*/tui_phone_icon.png" width="13px" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column width="18%"></mj-column>
                <mj-column css-class="ios-gmail-fix" width="40%" vertical-align="top" padding="10px 15px 5px">
                    <mj-social align="center" font-size="16px" icon-size="30px" mode="horizontal" padding="0px" inner-padding="10px">
                        <mj-social-element src="*[hosted_image]*/*[message_id]*/tui_fb.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.facebook.com/TUIPoland/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="*[hosted_image]*/*[message_id]*/tui_in.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.instagram.com/tuipoland/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="*[hosted_image]*/*[message_id]*/tui_you.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://youtube.com/tuipoland" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="*[hosted_image]*/*[message_id]*/tui_blog.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.blog.tui.pl?utm_medium=email&utm_source=baza-online&utm_campaign=" padding="5px 10px">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>

            <!--stopka CTA + sociale koniec-->

        </mj-wrapper>

       <mj-wrapper css-class="stopka-wrapper" padding="0px">
           <mj-section padding="48px 0px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px 20px" align="center">
                       Prezentowane ogłoszenia, reklamy, cenniki i&nbsp;informacje nie&nbsp;stanowią oferty w&nbsp;rozumieniu przepisów Kodeksu cywilnego. Ich dostępność oraz&nbsp;warunki mogą ulec zmianie. Ceny TUI zawierają wszystkie obowiązkowe opłaty np.&nbsp;ubezpieczenie lub opłaty lotniskowe. Nadawcami tej&nbsp;wiadomości są TUI Poland Sp. z&nbsp;o.o. oraz&nbsp;TUI Poland Dystrybucja Sp. z&nbsp;o.o. Jeśli chcesz zrezygnować z&nbsp;otrzymywania jakichkolwiek wiadomości, <a href="[[remove]]" style="color:#aaaaaa;">wypisz się</a>
                   </mj-text>
               </mj-column>
           </mj-section>
           <mj-section padding="20px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px" align="center">
                   </mj-text>
                   <mj-spacer></mj-spacer>
               </mj-column>
           </mj-section>
       </mj-wrapper>
    </mj-body>
</mjml>
