<mjml>
    <mj-head>
        <mj-title>TUI</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial" />
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }

            .show_on_mobile table, .show_on_mobile-outlook table {
            mso-hide:all;
            }

            .button {
            margin: auto;
            }

            .karta-kontener > table > tbody > tr > td {
                padding: 0 20px!important;
            }
    
            .table-hero {
            margin: auto;
            }
    
            .table-hero td {
            padding: 5px 0px;
            background-color: #092a5e;
            font-family: Arial;
            font-weight: 400;
            line-height: 1.4;
            text-align: center;
            color: #ffffff;
            height: 20px;
            }
    
            .karta-kontener > table > tbody > tr > td > table {
            margin: auto;
            }
    
            .rtl > table > tbody > tr > td {
            direction: rtl;
            }
    
            .ltr > table {
            direction: ltr;
            }
    
            .wrapper {
            text-decoration: none;
            }
    
            .tui-image > table > tbody >  tr > td {max-width: 320px}
            .tui-image > table {max-width: 320px}
    
            .ios-gmail-fix > table {max-width: 320px; margin: auto;}
    
            .uslugi {
            max-width: 105px;
            width: 105px;
            }
        </mj-style>
        <mj-style>
            
            @media only screen and (max-width: 599px) {

                .table-hero[style] {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .table-hero {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .karta-kolumna > table > tbody > tr > td {
                border: 0!important;
                border-left: 0px!important;
                border-right: 0px!important;
                }

                .karta-kontener { max-width: 320px!important}

                .wrapper {
                max-width: 320px!important;
                }

                .stopka-wrapper {
                max-width: 320px!important;
                }

                .show_on_desktop {
                display:none !important;
                }

                .show_on_mobile, .show_on_mobile-outlook {
                display:block!important;
                }

                .uslugi {
                max-width: 105px!important;
                width: 105px!important;
                }

                .mobile-button table {
                    min-width: 100%;
                }
    
                .ios-gmail-fix > table, .ios-gmail-fix > table > tbody > tr > td > table  {
                min-width: 100%;
                }
            }

            @media only screen and (min-width: 600px) {

                .wrapper {
                max-width: 600px!important;
                }

                .stopka-wrapper {
                max-width: 600px!important;
                }

                .hero {
                padding: 0!important;
                width: 100%;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000" align="center">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <a href="[[view]]" style="font-family: Arial; font-size: 11px; color: #8c8c8c; text-decoration: underline;">linku</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">

            <!--header-->

            <mj-section padding="20px 0px" background-color="#dbf2fc">
                    <mj-column width="30%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="100px" src="logo.png" padding="0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
                    <mj-column width="30%"></mj-column>
                    <mj-column css-class="show_on_desktop" width="40%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="195px" src="claim.png" padding="0px 0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
            </mj-section>

            <!--header koniec-->

            <!--menu desktop-->

            <mj-section css-class="show_on_desktop" background-color="#70cbf4" padding="10px 0px">
                <mj-column>
                    <mj-navbar hamburger="false">
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Lato</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Last Minute</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">All Inclusive</mj-navbar-link>
                        <mj-navbar-link href="https://www.tui.pl/" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Bilety Czarterowe</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>

            <!--menu desktop koniec-->

            <!--Sekcja KV z obrazkiem w tle-->

            <mj-hero css-class="hero" mode="fluid-height" height="420px" background-width="600px" background-height="420px" background-url="tui_bg.png" background-color="#6fc7f3" padding="65px 0px 65px" vertical-align="bottom">
                <mj-table css-class="table-hero" padding="0px 100px">
                    <tr>
                        <td>
                            <span style="font-size: 32px; line-height: 1.4; color: #ffffff; font-weight: 700;">
                               Tylko w TUI
                            </span>
                        </td>
                    </tr>
                </mj-table>
                <mj-text padding="15px 0px 5px" color="#092a5e" font-family="Arial" align="center" font-size="36px" line-height="1.2" font-weight="400">
                    Zarezerwuj teraz <br>
                    i zapłać tylko
                </mj-text>
                <mj-text padding="5px 0px" color="#ffffff" font-family="Arial" align="center" font-size="47px" line-height="1.2" font-weight="700">
                    10% zaliczki!
                </mj-text>
                <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" width="280px" inner-padding="10px 25px" padding="10px 0px">
                    Przejdź do strony&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                </mj-button>
            </mj-hero>

            <!--koniec sekcji z obrazkiem w tle-->

            <!--kv obrazek-->

<!--            <mj-section background-color="#ffffff" padding="0px">-->
<!--                <mj-column padding="0px">-->
<!--                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_kv_destynacje.png"></mj-image>-->
<!--                </mj-column>-->
<!--            </mj-section>-->

            <!--kv obrazek - koniec-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--Belka tytuł destynacje -->

            <mj-section background-color="#dbf2fc" padding="10px 0px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0px 20px">
                        Podróżowanie masz we krwi
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 20px" align="center">
                        Razem odkryjemy miejsca, które na długo zapadną Ci w pamięci
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--Belka tytuł destynacje koniec-->

            <!--Destynacja 1 poziomo zdjęcie - nazwa/opis/cena/CTA -->

            <mj-section background-color="#dbf2fc" padding="0px">
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_destynacja_1.png"></mj-image>
                </mj-column>
                <mj-column css-class="ios-gmail-fix" background-color="#ffffff" padding="10px 0px" border="10px solid #dbf2fc">
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" align="center" padding="5px 0px 10px">
                        Wyspa Zielonego <br>Przylądka
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 0px 10px" align="center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="5px 0px 10px" align="center">
                        od <span style="font-size: 18px">699</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="5px 0px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Destynacja 1 poziomo zdjęcie - nazwa/opis/cena/CTA - koniec -->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--Destynacja 2 poziomo zdjęcie - nazwa/opis/cena/CTA -->

            <mj-section direction="rtl" background-color="#dbf2fc" padding="0px">
                <mj-column direction="ltr" padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_destynacja_2.png"></mj-image>
                </mj-column>
                <mj-column css-class="ios-gmail-fix" direction="ltr" background-color="#ffffff" padding="10px 0px" border="10px solid #dbf2fc">
                    <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" align="center" padding="5px 0px 10px">
                        &nbsp;<br>
                        Turcja
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 0px 10px" align="center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    </mj-text>
                    <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="5px 0px 10px" align="center">
                        od <span style="font-size: 18px">699</span> zł/os.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="5px 0px">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Destynacja 2 poziomo zdjęcie - nazwa/opis/cena/CTA  - koniec -->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!--Destynacja 2 boxy -->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" width="293px" fluid-on-mobile="true" padding="0px 0px 15px" src="tui_destynacja_cta_1.png"></mj-image>
                </mj-column>
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" width="293px" fluid-on-mobile="true" padding="0px 0px 15px" src="tui_destynacja_cta_2.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--Destynacja 2 boxy  - koniec-->


            <!--hDestynacja 2 boxy  kolumny-->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" width="293px" fluid-on-mobile="true" padding="0px 0px 15px" src="tui_destynacja_cta_3.png"></mj-image>
                </mj-column>
                <mj-column padding="0px">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" width="293px" fluid-on-mobile="true" padding="0px 0px 15px" src="tui_destynacja_cta_4.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--Destynacja 2 boxy  - koniec-->


            <!--Destynacja pionowo o zdjęcie - nazwa/opis/cena/CTA -->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column css-class="karta-kolumna ios-gmail-fix" padding="0px 0px 15px" border-right="7px solid #ffffff">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_destynacja_karta_1.png"></mj-image>
                    <mj-wrapper css-class="karta-kontener" padding="0px" border="10px solid #dbf2fc" align="center">
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 5px 0px">
                            Portugalia <br>
                            &nbsp;
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 0px 0px 5px;" align="left">
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Wakacje nad Atlantykiem</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Kuchnia pełna smaków</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Jedne z najpiękniejszych plaż</span><br>
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px;" align="left">
                            od <span style="font-size: 18px">1899</span> zł/os.
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="10px 20px 15px">
                            &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                        </mj-button>
                        <mj-spacer height="15px"></mj-spacer>
                    </mj-wrapper>
                </mj-column>
                <mj-column css-class="karta-kolumna ios-gmail-fix" padding="0px 0px 15px" border-left="7px solid #ffffff;">
                    <mj-image css-class="tui-image" href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_destynacja_karta_2.png"></mj-image>
                    <mj-wrapper css-class="karta-kontener" padding="0px" border="10px solid #dbf2fc" align="center">
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="21px" line-height="25px" font-weight="700" color="#092a5e" padding="5px 5px 0px">
                            Wyspy Zielonego <br>Przylądka
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#faaf00" padding="10px 0px 0px 5px;" align="left">
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Zaliczane do Wysp Szczęśliwych</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Miejsce skrzyżowania 5 kultur</span><br>
                            ★&nbsp;&nbsp;<span style="color: #092a5e">Otoczenie dzikiej natury</span><br>
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-text font-size="14px" line-height="20px" font-weight="400" color="#ef0000" padding="10px 0px 0px 5px;" align="left">
                            od <span style="font-size: 18px">999</span> zł/os.
                        </mj-text>
                        <mj-spacer height="15px"></mj-spacer>
                        <mj-button href="https://www.tui.pl/" align="center" background-color="#faaf00" font-size="18px" line-height="24px" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="10px" width="200px" padding="10px 20px 15px">
                            &nbsp;&nbsp;&nbsp;&nbsp;Zobacz ofertę&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                        </mj-button>
                        <mj-spacer height="15px"></mj-spacer>
                    </mj-wrapper>
                </mj-column>
            </mj-section>

            <!--Destynacja pionowo o zdjęcie - nazwa/opis/cena/CTA  - koniec-->

            <!--baner promocyjny-->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column padding="0px">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--baner promocyjny koniec-->

            <!-- mobilne menu-->

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="15px 20px 5px" align="center">
                        Lato
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        Last Minute
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        All Inclusive
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="https://www.tui.pl/" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px 15px" align="center">
                        Bilety Czarterowe
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--mobilne menu koniec-->

            <!--stopka CTA + sociale-->

            <mj-section background-color="#092a5e" padding="10px 0px">
                <mj-column css-class="ios-gmail-fix" width="42%" padding="10px 20px" align="center">
                    <mj-button href="https://www.tui.pl/" background-color="#092a5e" font-size="18px" line-height="25px" font-weight="400" color="#ffffff" border="2px solid #ffffff" border-radius="0px" width="99%" inner-padding="5px 20px" padding="0px" align="center">
                        Zadzwoń do nas&nbsp;&nbsp;<span><img src="tui_phone_icon.png" width="13px" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column width="18%"></mj-column>
                <mj-column css-class="ios-gmail-fix" width="40%" vertical-align="top" padding="10px 15px 5px">
                    <mj-social align="center" font-size="16px" icon-size="30px" mode="horizontal" padding="0px" inner-padding="10px">
                        <mj-social-element src="tui_fb.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_in.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_you.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_blog.png" href="https://www.tui.pl/" padding="5px 10px">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>

            <!--stopka CTA + sociale koniec-->

        </mj-wrapper>

       <mj-wrapper css-class="stopka-wrapper" padding="0px">
           <mj-section padding="48px 0px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px 20px" align="center">
                       Prezentowane ogłoszenia, reklamy, cenniki i&nbsp;informacje nie&nbsp;stanowią oferty w&nbsp;rozumieniu przepisów Kodeksu cywilnego. Ich dostępność oraz&nbsp;warunki mogą ulec zmianie. Ceny TUI zawierają wszystkie obowiązkowe opłaty np.&nbsp;ubezpieczenie lub opłaty lotniskowe. Nadawcami tej&nbsp;wiadomości są TUI Poland Sp. z&nbsp;o.o. oraz&nbsp;TUI Poland Dystrybucja Sp. z&nbsp;o.o. Jeśli chcesz zrezygnować z&nbsp;otrzymywania jakichkolwiek wiadomości, <a href="[[remove]]" style="color:#aaaaaa;">wypisz się</a>
                   </mj-text>
               </mj-column>
           </mj-section>
           <mj-section padding="20px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px" align="center">
                   </mj-text>
                   <mj-spacer></mj-spacer>
               </mj-column>
           </mj-section>
       </mj-wrapper>
    </mj-body>
</mjml>

