<mjml>
    <mj-head>
        <mj-title>TUI</mj-title>
        <mj-attributes>
            <mj-all line-height="1" font-family="Arial" />
        </mj-attributes>
        <mj-breakpoint width="600px" />
        <mj-style inline="inline">
            .show_on_mobile, .show_on_mobile-outlook {
            display:none;
            }

            .show_on_mobile table, .show_on_mobile-outlook table {
            mso-hide:all;
            }

            .button {
            margin: auto;
            }
    
            .table-hero {
            margin: auto;
            padding: 0 60px!important;
            padding-left: 50px;
            }
    
            .table-hero td {
            padding: 5px 0px;
            background-color: #092a5e;
            font-family: Arial;
            text-align: center;
            }
    
            .rtl > table > tbody > tr > td {
            direction: rtl;
            }
    
            .ltr > table {
            direction: ltr;
            }
    
            .wrapper {
            text-decoration: none!important;
            }
    
            .tui-image > table > tbody >  tr > td {max-width: 320px}
            .tui-image > table {max-width: 320px}
    
            .ios-gmail-fix > table {max-width: 320px; margin: auto;}
    
            .uslugi {
            max-width: 105px;
            width: 105px;
            }
        </mj-style>
        <mj-style>
            
            @media only screen and (max-width: 599px) {

                .table-hero[style] {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .table-hero {
                margin: auto;
                padding: 0px!important;
                padding: 0px;
                }

                .wrapper {
                max-width: 320px!important;
                }

                .stopka-wrapper {
                max-width: 320px!important;
                }

                .show_on_desktop {
                display:none !important;
                }

                .show_on_mobile, .show_on_mobile-outlook {
                display:block!important;
                }

                .uslugi {
                max-width: 105px!important;
                width: 105px!important;
                }

                .mobile-button table {
                    min-width: 100%;
                }
    
                .ios-gmail-fix > table, .ios-gmail-fix > table > tbody > tr > td > table  {
                min-width: 100%;
                }
            }

            @media only screen and (min-width: 600px) {

                .wrapper {
                max-width: 600px!important;
                }

                .stopka-wrapper {
                max-width: 600px!important;
                }

                .hero {
                padding: 0!important;
                width: 100%;
                }
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7">
        <mj-wrapper css-class="stopka-wrapper" padding="0px">
            <mj-section padding="0px">
                <mj-column>
                    <mj-text font-size="11px" color="#000" align="center">
                        Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <a href="[[view]]" style="font-family: Arial; font-size: 11px; color: #8c8c8c; text-decoration: underline;">linku</a>
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>

        <mj-wrapper css-class="wrapper" padding="0px">

            <!--header-->

            <mj-section padding="20px 0px" background-color="#dbf2fc">
                    <mj-column width="30%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="100px" src="logo.png" padding="0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
                    <mj-column width="30%"></mj-column>
                    <mj-column css-class="show_on_desktop" width="40%" padding="0px" background-color="#dbf2fc" align="center">
                        <mj-image href="https://www.tui.pl/" width="195px" src="claim.png" padding="0px 0px" background-color="#dbf2fc"></mj-image>
                    </mj-column>
            </mj-section>

            <!--header koniec-->

            <!--menu desktop-->

            <mj-section css-class="show_on_desktop" background-color="#70cbf4" padding="10px 0px">
                <mj-column>
                    <mj-navbar hamburger="false">
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/first-minute-lato?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Lato</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/last-minute?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Last Minute</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/all-inclusive?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">All Inclusive</mj-navbar-link>
                        <mj-navbar-link href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pltanie-bilety-lotnicze?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" color="#ffffff" font-size="14px" line-height="18px" padding="10px 30px" text-transform="none">Bilety Czarterowe</mj-navbar-link>
                    </mj-navbar>
                </mj-column>
            </mj-section>

            <!--menu desktop koniec-->

            <!-- Sekcja KV z obrazkiem w tle-->
    
            <mj-hero css-class="hero" mode="fluid-height" height="600px" background-width="600px" background-height="600px" background-url="tui_bg.png" background-color="#6fc7f3" padding="115px 0px 70px" vertical-align="bottom">
                <mj-image src="tui_kv_img_small.png" width="181px" align="right" padding="0 25px"></mj-image>
                <mj-table css-class="table-hero" padding="0px 100px">
                    <tr>
                        <td>
                            <a href="https://www.tui.pl/" style="text-decoration: none; color: #ffffff">
                                <span style="font-size: 55px; line-height: 60px; color: #ffffff; font-weight: 700;">
                                       ZANZIBAR
                                </span>
                            </a>
                        </td>
                    </tr>
                </mj-table>
                <mj-text padding="15px 0px 5px" color="#092a5e" font-family="Arial" align="center" font-size="36px" line-height="40px" font-weight="400">
                    czyli piękna wyspa
                </mj-text>
                <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="26px" line-height="35px" font-weight="400" color="#ffffff" border-radius="0px" width="280px" inner-padding="15px 25px" padding="10px 0px">
                    Znajdź wakacje&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                </mj-button>
            </mj-hero>

            <!--kv obrazek - koniec-->

            <!--biały spacer - początek-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!-- biały spacer - koniec-->

            <!--Sekcja tytuł - banner - opis - cta -->

            <mj-section background-color="#dbf2fc" padding="15px 20px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0 0 15px">
                        ODKRYJ NIEZWYKŁY ŚWIAT ORIENTU
                    </mj-text>
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner_1.png"></mj-image>
                    <mj-text font-size="14px" line-height="1.4" align="center" color="#092a5e" padding="20px 30px" container-background-color="#ffffff">
                        Nazwa Zanzibar pochodzi z&nbsp;języka arabskiego i&nbsp;oznacza „piękną wyspę”. I&nbsp;rzeczywiście tak&nbsp;jest. Tu Orient łączy się z&nbsp;tradycją Afryki, tworząc wyjątkową, kulturową mieszankę. Tu zachwycają jasne plaże, szmaragdowe morze oraz&nbsp;przepiękne rafy koralowe. A&nbsp;na&nbsp;bazarach piętrzą się barwne stosy goździków, wanilii i&nbsp;kardamonu. Ta „Wyspa Przypraw” od&nbsp;lat przyciąga smakoszy i&nbsp;kupców z&nbsp;całego świata.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="24px" line-height="1.4" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="15px 0" width="260px" padding="15px 0 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;Poznaj Zanzibar&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Sekcja tytuł - banner - opis - cta koniec-->

            <!--biały spacer - początek-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!-- biały spacer - koniec-->

            <!--Sekcja tytuł - banner  - cta -->

            <mj-section background-color="#dbf2fc" padding="15px 20px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0 0 15px">
                        NIEZWYKŁE ATRAKCJE ZANZIBARU
                    </mj-text>
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner_2.png"></mj-image>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="24px" line-height="1.4" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="15px 0" width="260px" padding="15px 0 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;Więcej atrakcji&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Sekcja tytuł - banner  - cta-->

            <!--biały spacer - początek-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!-- biały spacer - koniec-->

            <!--Sekcja tytuł - banner - opis - cta -->

            <mj-section background-color="#dbf2fc" padding="15px 20px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0 0 15px">
                        ZANZIBAR DLA AKTYWNYCH
                    </mj-text>
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner_3.png"></mj-image>
                    <mj-text font-size="14px" line-height="1.4" align="center" color="#092a5e" padding="20px 30px" container-background-color="#ffffff">
                        Jozani Forest to&nbsp;największy obszar leśny na&nbsp;Zanzibarze. Spacer naturalnymi ścieżkami przez&nbsp;las pozwala poczuć niepowtarzalny, tropikalny klimat. W&nbsp;północnej części Zanzibaru, w&nbsp;wiosce Kendwie, co miesiąc organizowane jest Full Moon Party – całonocna impreza w&nbsp;czasie pełni! Miłośnicy ruchu powinni udać się też na&nbsp;Stone Town, gdzie czeka ich spacer uliczkami wśród pachnących straganów.
                    </mj-text>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="24px" line-height="1.4" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="15px 0" width="260px" padding="15px 0 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;Czytaj więcej&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_arrow.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Sekcja tytuł - banner - opis - cta koniec-->

            <!--biały spacer - początek-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!-- biały spacer - koniec-->

            <!--Sekcja tytuł - banner  - cta -->

            <mj-section background-color="#dbf2fc" padding="15px 20px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="0 0 15px">
                        ZANZIBAR – LATO PRZEZ CAŁY ROK
                    </mj-text>
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner_4.png"></mj-image>
                    <mj-button href="https://www.tui.pl/" background-color="#faaf00" font-size="24px" line-height="1.4" font-weight="400" color="#ffffff" border-radius="0px" inner-padding="15px 0" width="260px" padding="15px 0 0">
                        &nbsp;&nbsp;&nbsp;&nbsp;Zaplanuj urlop&nbsp;&nbsp;&nbsp;&nbsp;<span><img style="width: 12px" src="tui_phone_icon.png" alt=""></span>
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--Sekcja tytuł - banner  - cta-->

            <!--biały spacer - początek-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <!-- biały spacer - koniec-->

            <!--baner promocyjny-->

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column padding="0px">
                    <mj-image href="https://www.tui.pl/" fluid-on-mobile="true" padding="0px" src="tui_baner.png"></mj-image>
                </mj-column>
            </mj-section>

            <!--baner promocyjny koniec-->

            <!--Belka tytuł-->

            <mj-section background-color="#dbf2fc" padding="10px 0px">
                <mj-column>
                    <mj-text font-size="24px" line-height="1.4" align="center" color="#092a5e" text-transform="uppercase" padding="5px 20px">
                        ODKRYJ NASZĄ OFERTĘ USŁUG DODATKOWYCH
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--uslugi ikony z opisem-->

            <mj-section padding="0px" background-color="#ffffff">
                <mj-column padding="0px">
                    <mj-spacer height="15px"></mj-spacer>
                </mj-column>
            </mj-section>

            <mj-section background-color="#ffffff" padding="0px">
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/ubezpieczenie-allianz?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" fluid-on-mobile="true" padding="0px" src="tui_duza_ikona1.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Ubezpieczenia
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/podroz-z-tui/rezerwacja-miejsca-w-samolocie?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" fluid-on-mobile="true" padding="0px" src="tui_duza_ikona2.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Miejsca <br>w soamolocie
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tuicars.com/pl/?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" fluid-on-mobile="true" padding="0px" src="tui_duza_ikona3.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Wynajem
                        samochodów
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://tui.lotnisko-parkingi.pl/?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" fluid-on-mobile="true" padding="0px" src="tui_duza_ikona4.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Parkingi
                    </mj-text>
                </mj-column>
                <mj-column css-class="uslugi" padding="0px 0px 15px">
                    <mj-image href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://gotui.com/pl/main?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" fluid-on-mobile="true" padding="0px" src="tui_duza_ikona5.png"></mj-image>
                    <mj-text font-size="13px" line-height="20px" font-weight="400" color="#092a5e" padding="5px 3px" align="center">
                        Wycieczki <br>
                        fakultatywne
                    </mj-text>
                </mj-column>
            </mj-section>

            <!--uslugi ikony z opisem - koniec-->

            <!-- mobilne menu-->

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/first-minute-lato?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="15px 20px 5px" align="center">
                        Lato
                    </mj-button>
                </mj-column>
            </mj-section>
            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/last-minute?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        Last Minute
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pl/all-inclusive?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px" align="center">
                        All Inclusive
                    </mj-button>
                </mj-column>
            </mj-section>

            <mj-section css-class="show_on_mobile mobile-button" background-color="#dbf2fc" padding="0px 0px">
                <mj-column padding="0px">
                    <mj-button href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.tui.pltanie-bilety-lotnicze?utm_medium=email&utm_source=baza-online&utm_campaign=baner-newsletter" background-color="#dbf2fc" font-size="18px" line-height="24px" font-weight="400" color="#092a5e" border="1px solid #fff" border-radius="0px" width="99%" inner-padding="10px" padding="5px 20px 15px" align="center">
                        Bilety Czarterowe
                    </mj-button>
                </mj-column>
            </mj-section>

            <!--mobilne menu koniec-->

            <!--stopka CTA + sociale-->

            <mj-section background-color="#092a5e" padding="10px 0px">
                <mj-column css-class="ios-gmail-fix" width="42%" padding="10px 20px" align="center">
                    <mj-button href="https://www.tui.pl/" background-color="#092a5e" font-size="18px" line-height="25px" font-weight="400" color="#ffffff" border="2px solid #ffffff" border-radius="0px" width="99%" inner-padding="5px 20px" padding="0px" align="center">
                        Zadzwoń do nas&nbsp;&nbsp;<span><img src="tui_phone_icon.png" width="13px" alt=""></span>
                    </mj-button>
                </mj-column>
                <mj-column width="18%"></mj-column>
                <mj-column css-class="ios-gmail-fix" width="40%" vertical-align="top" padding="10px 15px 5px">
                    <mj-social align="center" font-size="16px" icon-size="30px" mode="horizontal" padding="0px" inner-padding="10px">
                        <mj-social-element src="tui_fb.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.facebook.com/TUIPoland/" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_in.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.instagram.com/tuipoland" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_you.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.youtube.com/user/TuiPolska" padding="5px 10px">
                        </mj-social-element>
                        <mj-social-element src="tui_blog.png" href="http://clickserve.dartsearch.net/link/click?lid=43700039578435550&ds_s_kwgid=58700004679106868&ds_url_v=2&ds_dest_url=https://www.blog.tui.pl/?utm_medium=email&utm_source=baza-online&utm_campaign=newsletter" padding="5px 10px">
                        </mj-social-element>
                    </mj-social>
                </mj-column>
            </mj-section>

            <!--stopka CTA + sociale koniec-->

        </mj-wrapper>

       <mj-wrapper css-class="stopka-wrapper" padding="0px">
           <mj-section padding="48px 0px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px 20px" align="center">
                       Prezentowane ogłoszenia, reklamy, cenniki i&nbsp;informacje nie&nbsp;stanowią oferty w&nbsp;rozumieniu przepisów Kodeksu cywilnego. Ich dostępność oraz&nbsp;warunki mogą ulec zmianie. Ceny TUI zawierają wszystkie obowiązkowe opłaty np.&nbsp;ubezpieczenie lub opłaty lotniskowe. Nadawcami tej&nbsp;wiadomości są TUI Poland Sp. z&nbsp;o.o. oraz&nbsp;TUI Poland Dystrybucja Sp. z&nbsp;o.o. Jeśli chcesz zrezygnować z&nbsp;otrzymywania jakichkolwiek wiadomości, <a href="[[remove]]" style="color:#aaaaaa;">wypisz się</a>
                   </mj-text>
               </mj-column>
           </mj-section>
           <mj-section padding="20px 0px">
               <mj-column css-class="kolumna-100" padding="0px">
                   <mj-text font-size="11px" line-height="21px" color="#3d3a35" padding="0px" align="center">
                   </mj-text>
                   <mj-spacer></mj-spacer>
               </mj-column>
           </mj-section>
       </mj-wrapper>
    </mj-body>
</mjml>
